<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892579726651-juonk2g13k4ig9oledkbp9ute8vod3lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892579726651-juonk2g13k4ig9oledkbp9ute8vod3lc</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ovzjlJRfZCN43NAvGfqB6durdiSAirM</string>
	<key>GCM_SENDER_ID</key>
	<string>892579726651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fiore.chocotoxic</string>
	<key>PROJECT_ID</key>
	<string>choco-toxic</string>
	<key>STORAGE_BUCKET</key>
	<string>choco-toxic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892579726651:ios:50fabfd9ec3a7c653ca31e</string>
	<key>DATABASE_URL</key>
	<string>https://choco-toxic.firebaseio.com</string>
</dict>
</plist>